<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Maintenance Ticket Submission</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">

<div style="max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);">
    <h2 style="text-align: center; color: #333333;">Maintenance Ticket Submission</h2>
    <p style="color: #666666;">Dear Resident,</p>
    <p style="color: #666666;">Thank you for submitting a maintenance ticket. Our team will address your request as soon as possible. Below are the details of your submission:</p>
    
    <div style="background-color: #f9f9f9; padding: 10px; border-radius: 5px;">
        <p><strong>Issue Title :</strong> {{ formData.title }}</p>
        <p><strong>Issue Description:</strong> {{ formData.description }}</p>
        <p><strong>Location of the Issue:</strong> {{ formData.area }}</p>
        <p><strong>Building Type:</strong> {{ formData.buildingType }}</p>
        <p><strong>Level of Emergency:</strong> {{ formData.urgency }}</p>
        <p><strong>Address:</strong> {{ formData.address }}</p>
        <p><strong>Submitted By:</strong> {{ formData.submittedBy }}</p>
        <p><strong>Contact Information:</strong> {{ formData.phone }} // {{ formData.email }}</p>
        <p><strong>Permission to enter in absence of resident:</strong> {{ formData.enterPerms }}</p>
    </div>
    
    <p style="color: #666666;">We appreciate your patience while we work to resolve the issue. If you have any questions or need further assistance, feel free to contact us at [Maintenance Contact Information].</p>
    
    <p style="color: #666666;">Best regards,</p>
    <p style="color: #666666;">HDRC Maintenance Team</p>
</div>

</body>
</html>